<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Umrah.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Umrah.Properties.Settings>
            <setting name="SqlServerString" serializeAs="String">
                <value>Server=.\SQLEXPRESS;Database=UmrahDB;Trusted_Connection=True</value>
            </setting>
            <setting name="HideNotificationInterval" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>علي</value>
            </setting>
            <setting name="DataGridViewRowNo" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value>أدخل إسم المسجد هنا</value>
            </setting>
            <setting name="CompanyLogo" serializeAs="String">
                <value />
            </setting>
        </Umrah.Properties.Settings>
    </userSettings>
</configuration>